@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc

@model FormSectionViewModel<AskTheExpertsDemo.Models.OneColumnFormSectionProperties>

<div class="row">
    @if (!string.IsNullOrEmpty(Model?.Properties?.SectionTitle))
    {
        <div class="col-md-12">
            @Html.Raw(Html.Kentico().ResolveRichText(Model.Properties.SectionTitle))
        </div>
    }

    @if (!string.IsNullOrEmpty(Model?.Properties?.SectionSubText))
    {
        <div class="col-md-12">
            @Html.Raw(Html.Kentico().ResolveRichText(Model.Properties.SectionSubText))
        </div>
    }

    <div class="form-group col-md-12">
        @await Html.Kentico().FormZoneAsync()
    </div>

    @if (!string.IsNullOrEmpty(Model?.Properties?.SectionPostText))
    {
        <div class="col-md-12">
            @Html.Raw(Html.Kentico().ResolveRichText(Model.Properties.SectionSubText))
        </div>
    }
</div>