@model AskTheExpertsDemo.Models.PageViewModel

<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">@Model.PageData.DocumentName</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="cta-1">
            <editable-area area-identifier="area1" />
        </div>
    </div>
</div>