
@model AskTheExpertsDemo.Models.FormComponents.HeadlineInputComponent

    <div class="section-title-header pt-5 pb-4 @Model.Properties.HeadlineCssClass">
        @Html.Raw(Model.Properties.HeadlineText)
    </div>

