@model AskTheExpertsDemo.Models.HomeViewModel

<div class="text-center home">
    <h1 class="display-4">Welcome </h1>
    <p>Hello World!</p>
    <div class="cta-1">
        <editable-area area-identifier="area1" />
    </div>
</div>